**/__pycache__/
**/.vs/
**/bin/
**/obj/
artifacts/
build/
reports/
out/
site/
server/
node_modules/
.vscode-test/
.cache/
*.vsix
*.user
src/**/*-help.xml
src/**/*.help.txt
BenchmarkDotNet.Artifacts/
.sonarqube/
TestResults/
*.diagsession
**/.DS_Store
sdk/go/tool/*.exe
sdk/go/tool/bin/
