.vs/
.config/
.devcontainer/
.github/
.ps-rule/
.vscode/
.vscode-test/
docs/
node_modules/
overrides/
reports/
scripts/
src/
tests/
bin/
obj/
out/
sdk/
server/Modules/
!out/dist/
!docs/changelog.md
!server/Modules/PSRule/

.eslintignore
.gitignore
.markdownlint.json
.platyps.yml
.vscode-test.mjs
CHANGELOG.md
README.md
GitVersion.yml
NuGet.config
PSRule.sln
SECURITY.md
build.ps1
esbuild.mjs
global.json
mkdocs.yml
modules.json
pipeline.build.ps1
ps-rule-ci.yaml
ps-rule.lock.json
ps-rule.yaml
requirements-docs.txt
tsconfig.json
