# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

site_name: PSRule
site_url: https://microsoft.github.io/PSRule
site_description: Validate infrastructure as code (IaC) and objects using PowerShell rules.
site_author: Microsoft

repo_url: https://github.com/microsoft/PSRule
edit_uri: blob/main/docs/

extra_css:
  - assets/stylesheets/extra.css

theme:
  language: en
  name: material
  custom_dir: overrides
  font:
    text: Roboto
  palette:
    primary: black
    accent: blue
  logo: assets/ms_icon.png
  favicon: assets/ms_icon.png
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - navigation.indexes
    - navigation.sections:
        level: 1
    - navigation.tabs
    - navigation.footer
    - content.code.annotate
    - content.tabs.link
    - content.code.copy
    - content.action.edit
    - content.action.view

nav:
  - Home: index.md
  - Getting started:
      - Overview:
          - About: about.md
          - Features: features.md
          - FAQ: faq.md
      - Install: install.md
      - Quickstarts:
          - Create a standalone rule: quickstart/standalone-rule.md
      - Authoring rules:
          - Testing infrastructure: authoring/testing-infrastructure.md
          - Using expressions: authoring/using-expressions.md
          - Storing and naming rules: authoring/storing-rules.md
          - Packaging rules in a module: authoring/packaging-rules.md
          - Writing rule help: authoring/writing-rule-help.md
      - Running rules:
          - Creating your pipeline: creating-your-pipeline.md
          - Validating locally: validating-locally.md
          - Analysis output: analysis-output.md
      - Tutorials:
          - Validate Azure resource configuration: scenarios/azure-resources/azure-resources.md
          - Azure resource tagging example: scenarios/azure-tags/azure-tags.md
          - Kubernetes resource validation example: scenarios/kubernetes-resources/kubernetes-resources.md
          - Using PSRule from a Container: scenarios/containers/container-execution.md
      - Concepts:
          - Baselines: concepts/baselines.md
          - Functions: expressions/functions.md
          - Grouping rules: concepts/grouping-rules.md
          - Sub-selectors: expressions/sub-selectors.md
      - Scenarios:
          - Using within continuous integration: scenarios/validation-pipeline/validation-pipeline.md
      - Troubleshooting: troubleshooting.md
      - License and contributing: license-contributing.md
      - Related projects: related-projects.md
      - Releases:
          - Change log:
              - v3: 'https://microsoft.github.io/PSRule/v3/CHANGELOG-v3/'
              - v2: 'CHANGELOG-v2.md'
              - v1: 'CHANGELOG-v1.md'
              - v0: 'CHANGELOG-v0.md'
          - Upgrade notes: upgrade-notes.md
          - Deprecations: deprecations.md
          - Changes and versioning: versioning.md
      - Support: support.md
    # - Setup:
    #   - Configuring options: setup/configuring-options.md
    #   - Configuring rule defaults: setup/configuring-rules.md
    #   - Configuring expansion: setup/configuring-expansion.md
  - Reference:
      - PowerShell cmdlets:
          - Assert-PSRule: commands/PSRule/en-US/Assert-PSRule.md
          - Export-PSRuleBaseline: commands/PSRule/en-US/Export-PSRuleBaseline.md
          - Get-PSRule: commands/PSRule/en-US/Get-PSRule.md
          - Get-PSRuleBaseline: commands/PSRule/en-US/Get-PSRuleBaseline.md
          - Get-PSRuleHelp: commands/PSRule/en-US/Get-PSRuleHelp.md
          - Get-PSRuleTarget: commands/PSRule/en-US/Get-PSRuleTarget.md
          - Invoke-PSRule: commands/PSRule/en-US/Invoke-PSRule.md
          - New-PSRuleOption: commands/PSRule/en-US/New-PSRuleOption.md
          - Set-PSRuleOption: commands/PSRule/en-US/Set-PSRuleOption.md
          - Test-PSRuleTarget: commands/PSRule/en-US/Test-PSRuleTarget.md
      - Assertion methods: concepts/PSRule/en-US/about_PSRule_Assert.md
      - Baselines: concepts/PSRule/en-US/about_PSRule_Baseline.md
      - Badges: concepts/PSRule/en-US/about_PSRule_Badges.md
      - Conventions: concepts/PSRule/en-US/about_PSRule_Conventions.md
      - Documentation: concepts/PSRule/en-US/about_PSRule_Docs.md
      - Expressions: concepts/PSRule/en-US/about_PSRule_Expressions.md
      - Keywords: keywords/PSRule/en-US/about_PSRule_Keywords.md
      - Options: concepts/PSRule/en-US/about_PSRule_Options.md
      - Rules: concepts/PSRule/en-US/about_PSRule_Rules.md
      - Selectors: concepts/PSRule/en-US/about_PSRule_Selectors.md
      - Suppression Groups: concepts/PSRule/en-US/about_PSRule_SuppressionGroups.md
      - Variables: concepts/PSRule/en-US/about_PSRule_Variables.md
  - Addons:
      - Additional modules: addon-modules.md

markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - pymdownx.snippets
  - pymdownx.highlight:
      auto_title: false
      anchor_linenums: false
  - pymdownx.superfences
  - pymdownx.pathconverter
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - mdx_truly_sane_lists
  - pymdownx.tasklist
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: '#'
      separator: '-'

plugins:
  - git-revision-date-localized:
      enable_creation_date: true
      fallback_to_build_date: true
  - git-committers:
      repository: microsoft/PSRule
      branch: main
  - mkdocs-simple-hooks:
      hooks:
        on_page_markdown: 'docs.hooks:replace_maml'
  - search
  - redirects:
      redirect_maps:
        'authoring/writing-rules.md': 'authoring/testing-infrastructure.md'
        'install-instructions.md': 'install.md'

extra:
  version:
    provider: mike
    default: stable

  social:
    - icon: fontawesome/brands/github
      link: https://github.com/microsoft/PSRule/

  local:
    social_preview: https://repository-images.githubusercontent.com/125832556/d6685d9f-ba70-44a1-b11f-6534831143d1
    repo_issue: https://github.com/microsoft/PSRule/issues
    repo_discussion: https://github.com/microsoft/PSRule/discussions

  giscus:
    repo: microsoft/PSRule
    repo_id: MMDEwOlJlcG9zaXRvcnkxMjU4MzI1NTY=
    category: Documentation
    category_id: DIC_kwDOB4ANbM4CRxSO
